// @font-face {
// 	font-family: "iconfont";
// 	src: url('./iconfont.ttf') format('truetype');
// }

.content {
	background-color: #f2f2f2;
	min-height: 100vh;
}

/* 小浮窗 */
.movableArea {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 150rpx);
	pointer-events: none;
}

.movableView {
	position: absolute;
	top: 164rpx;
	width: 100rpx;
	height: 100rpx;
	margin-top: 164rpx;
	pointer-events: auto;
}

.win-service {
	width: 100%;
	height: 100%;
	padding: 10rpx;
	border-radius: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #17b00e;
	opacity: 1;

	.iconfont {
		flex: 1;
		font-size: 60rpx;
		width: 60rpx;
		height: 60rpx;
		line-height: 60rpx;
	}

	.text {
		font-size: 20rpx;
		line-height: 20rpx;
	}

	&::before,
	&::after {
		border: none;
	}
}

// 文字内容超出隐藏
.ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

// 模式切换
.day-mode {
	background-color: #f8f8f8;
	color: #000000;
}

.brown-mode {
	background-color: #f7f0e6;
	color: #000000;
}

.green-mode {
	background-color: #dff2dc;
	color: #000000;
}

.night-mode {
	background-color: #000000;
	color: #ffffff;

	.theme-font {
		color: #ffffff !important;
	}

	.theme-bgc {
		background-color: #333 !important;
	}

	.theme-bgc-4 {
		background-color: #444 !important;
	}
}